.dice{
    border: 2px red solid;
    border-radius: 25px;
    background-color: lightgray;
    width: 100px;
    height: 100px;
    margin: 20px;
}

.dot{
    width: 10px;
    height: 10px;
    border: 1px red solid;
    background-color: red;
    border-radius: 10px;
}

/*----------------------------------------------------------------------*/

#d1{ 
    display: flex;
    justify-content: center;
    align-items: center;
}
#d2{  
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
#d3{  
    display: flex; 
    justify-content: space-around;
    align-items: center;
}
#d4{  
    display: flex;    
    justify-content: space-around;    
}
#d4 div{
    display: flex;  
    flex-direction: column; 
    justify-content: space-around; 
    
}
#d5{  
    display: flex;    
    justify-content: space-evenly;   
}
#d5 div:nth-of-type(1){
    display: flex;  
    flex-direction: column; 
    justify-content: space-around;     
}

#d5 div:nth-of-type(3){
    display: flex;  
    flex-direction: column; 
    justify-content: space-around;     
}
#d5 div:nth-of-type(2){
    display: flex;  
    align-self: center;
}
#d6{  
    display: flex;    
    justify-content: space-around;    
}
#d6 div{
    display: flex;  
    flex-direction: column; 
    justify-content: space-around; 
    
}



